/* Global */

:root {
    --color_white: rgba(255, 255, 255, 1);
    --color_white_800: rgba(255, 255, 255, 0.8);
    --color_purple: rgba(152, 125, 154, 1);
    --color_blue: rgba(13, 110, 253, 1);
    --color_orange: rgba(252, 102, 104, 1);
    --color_outline: var(--color_purple);
    --color_surface: var(--color_orange);
    --color_background: var(--color_white);
    --color_background_translucent: var(--color_white_800);
    --padding_size_tiny: 3px;
    --padding_size_s: 5px;
    --padding_size_sm: 8px;
    --padding_size_m: 15px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    border: none;
}

body {
    background-color: #000;
}

.main-background {
    width:100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    /* opacity: 0.4; */
    filter: blur(4px);
    z-index: -1;
}

.background-widget {
    background-color: var(--color_background_translucent);
}

.launch-box {
    height: 27px;
}

.launch-box > input {
    width: 70%;
    padding-left: 4px;
}

.launch-box > button {
    transition: 300ms;
    background-color: var(--color_surface);
}

.launch-box > button:first-child {
    width: 13%;
}

.launch-box > button:last-child {
    width: 30%;
}

.launch-box > button:hover {
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

.page-body {
    height: 100%;
}

.page-footer {
    height: 110px;
    padding: var(--padding_size_sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-style: italic;
    font-size: smaller;
    color: var(--color_surface);
}

/* Sliderbar */
.sliderbar {
    width: 50%;
    max-width: 300px;
    max-height: 100vh;
    padding: var(--padding_size_sm);
}

/* Game container */
.game-container {
    width: 100%;
}

.game-container .screen {
    width: 75%;
    height: 85%;
    max-width:100%;
    margin: auto;
}

.region-select > select {
    min-width: 77px;
    padding-left: var(--padding_size_s);
}

.region-select > span {
    background-color: var(--color_surface);
    padding: var(--padding_size_tiny);
}

.toast-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-bottom: 1.5em;
    padding-right: 3em;
}

.toast {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--color_background_translucent);
    box-shadow: 0px 0px 8px gray;
}

.toast > .toast-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color_outline);
    padding-bottom: var(--padding_size_tiny);
}

.toast > .toast-body {
    padding-top: var(--padding_size_sm);
}

/* Components */

.full-window {
    width: 100%;
    height: 100vh;
}

.card {
    width: 100%;
}

.card > .card-img-bordered {
    width: 100%;
    border: 0.5rem ridge var(--color_outline);
}

.card > .card-body {
    padding: var(--padding_size_sm);
    flex-direction: column;
}

.card-body .card-item {
    display: flex;
    flex-direction: row;
    padding-top: var(--padding_size_tiny);
    padding-bottom: var(--padding_size_tiny);
    font-size: smaller;
}

.card-item > label {
    width: 78px;
}

.clock {
    color: var(--color_surface);
    font-family: "VT323", sans-serif;
    text-align: center;
    font-size: 3rem;
    /* letter-spacing: 0.1rem; */
}

.basic-table {
    width: 100%;
    border-collapse: collapse;
}

.basic-table td {
    padding: var(--padding_size_sm);
    border: 3px ridge var(--color_outline);
    font-size: small;
}

.command-key {
    background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);;
    box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, .4);
    color: #606770;
    border: 0;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 18px;
    padding: 0 0 2px;
    display: flex;
    position: relative;
    top: -1px;
}

kbd {
    font: 80% SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

/* Common */

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.hover-shadow {
    box-shadow: 0px 0px 8px gray;
    transition: 300ms;
}

.hover-shadow:hover {
    box-shadow: 0px 0px 15px gray;
}

.text-center {
    text-align: center;
}

.p-s {
    padding: var(--padding_size_s);
}

.p-sm {
    padding: var(--padding_size_sm);
}

.p-m {
    padding: var(--padding_size_m);
}

.pt-sm {
    padding-top: var(--padding_size_sm);
}

.mt-sm {
    margin-top: var(--padding_size_sm);
}

.ml-sm {
    margin-left: var(--padding_size_sm);
}

.ml-s {
    margin-left: var(--padding_size_s);
}

.mr-sm {
    margin-right: var(--padding_size_sm);
}

.mr-s {
    margin-right: var(--padding_size_s);
}

.mb-sm {
    margin-bottom: var(--padding_size_sm);
}

.italic {
    font-style: italic;
}

.right {
    margin-left: auto;
}

.radius-sm {
    border-radius: 5px;
}

.radius-tiny {
    border-radius: 3px;
}

.radius-m {
    border-radius: 8px;
}

.v-stack {
    display: flex;
    flex-direction: column;
}

.h-stack {
    display: flex;
    flex-direction: row;
}

.h-stack-inline {
    display: inline-flex;
    flex-direction: row;
}

.v-stack-inline {
    display: inline-flex;
    flex-direction: column;
}

.text-shadow {
    text-shadow: gray 0.1em 0.2em 0.3em;
}

.marquee {
    height: 30px;
    overflow: hidden;
    position: relative;
}

.marquee .marquee-content {
    position: absolute;
    width: 100%;
    margin: 0;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}

.one-line {
    white-space: nowrap;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 992px) {
    .sliderbar {
        display: none;
    }

    .screen .launch-box {
        visibility: visible;
    }
    
    .game-container .screen {
        width: 100%;
        height: 70%;
        padding: var(--padding_size_m);
    }
}
