body {
    padding: 0px;
    margin: 0px;
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #393E46;
}

.poster {
    width:100%;
    position: fixed;
    opacity: 0.4;
    filter: blur(8px);
}

.sliderbar {
    margin: 18px;
    max-height: 100vh;
    z-index: 1;
}

.control-panel {
    display: flex;
    flex-direction: column;
}

.control-panel > label {
    color: white;
    font-weight: bold;
}

.control-panel > input,select {
    margin-bottom: 8px;
}

.control-panel > button {
    margin-right: auto;
}

#viewport {
    margin: auto;
    width:768px;
    height:720px;
    max-width:100%;
    opacity: 0.8;
}