/* Global */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    border: none;
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #393E46;
}

.main-background {
    width:100%;
    height: 100vh;
    object-fit: cover;
    object-position: 0px 50%;
    position: fixed;
    opacity: 0.4;
    filter: blur(8px);
}

.background-widget {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Launch panel */
.launch-panel {
    margin-top: 8px;
    flex-direction: row;
}

.launch-panel div {
    height: 27px;
}

.launch-panel div > input {
    width: 70%;
    padding-left: 4px;
}

.launch-panel div > button {
    transition: 300ms;
    background-color: #1AAFFF;
}

.launch-panel div > button:first-child {
    width: 15%;
}

.launch-panel div > button:last-child {
    width: 30%;
}

.launch-panel div > button:hover {
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

/* Sliderbar */
.sliderbar {
    margin: 18px;
    width: 17%;
    max-width: 300px;
    max-height: 100vh;
    z-index: 1;
    padding: 5px;
}

/* Game container */
.game-container {
    width: 61%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.game-container .screen {
    width: 80%;
    height: 75%;
    max-width:100%;
    margin: auto;
}

/* Components */

.card {
    width: 100%;
}

.card > .card-img {
    width: 100%;
}

.card > .card-body {
    padding: 8px;
    flex-direction: column;
}

.card-body .card-item {
    display: flex;
    flex-direction: row;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: smaller;
}

.card-item > label {
    width: 78px;
}

.clock {
    color: #17D4FE;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.1rem;
    min-width: 138px;
    text-align: right;
}

/* Common */

.hover-shadow {
    box-shadow: 0px 0px 8px gray;
    transition: 300ms;
}

.hover-shadow:hover {
    box-shadow: 0px 0px 15px gray;
}

.text-center {
    text-align: center;
}

.padding-sm {
    padding: 8px;
}

.padding-m {
    padding: 15px;
}

.border {
    border: 0.5rem outset #987D9A;
}

.italic {
    font-style: italic;
}

.right {
    margin-left: auto;
}

.radius-sm {
    border-radius: 5px;
}

.radius-tiny {
    border-radius: 3px;
}

.radius-m {
    border-radius: 8px;
}

.v-stack {
    display: flex;
    flex-direction: column;
}

.h-stack {
    display: flex;
    flex-direction: row;
}

.text-shadow {
    text-shadow: gray 0.1em 0.2em 0.3em;
}

.marquee {
    height: 30px;
    overflow: hidden;
    position: relative;
}

.marquee .marquee-content {
    position: absolute;
    width: 100%;
    margin: 0;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}

.one-line {
    white-space: nowrap;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 1180px) {
    .sliderbar {
        display: none;
    }
    
    .game-container {
        width: 100%;
    }
}
